.drink_line {
  margin-top: 0 !important;
  height: 80px;
  border-bottom: none;
  background-size: 2210px;
  background-position: -762px -580px;
}

.drink_line_text {
  margin-top: -10px;
  font-size: 25pt;
}

.hotdrink_wrap {
  width: 1920px;
  height: 700px;
  border-bottom: 5px solid red;
  z-index: 1;
  position: absolute;
  background-image: url("../img/footer.jpeg");
  overflow: hidden;
  @media screen and (max-width: 1440px) {
    width: 1440px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    height: 693px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.hot_main_line {
  // position: absolute;
  // z-index: 1000;
  width: 1920px;
  height: 210px;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: black;
  @media screen and (max-width: 1440px) {
    width: 1440px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
  }
}

.hot_drink_menu_box {
  box-sizing: border-box;
  width: 33%;
  height: inherit;
  border: 1px solid black;

  &:hover ~ .drinks_text {
    opacity: 0;
  }
}

.menu_box {
  background-image: url("../img/vine.jpeg");
  background-size: cover;
  background-position: 0 -50px;
  @media screen and (max-width: 1024px) {
    background-position: 0 0;
  }
  @media screen and (max-width: 768px) {
    background-position: -100px 0;
  }
}

.menu_box_2 {
  background-size: cover;
  background-image: url("../img/ginnes.jpeg");
  @media screen and (max-width: 1024px) {
    background-position: 0 0px;
    background-size: 100%;
  }
  @media screen and (max-width: 768px) {
    background-size: 130%;
  }
}

.menu_box_3 {
  background-image: url("../img/visky.jpeg");
  background-position: 0 -110px;
  @media screen and (max-width: 1024px) {
    background-position: 0 0;
    background-size: 100%;
  }
  @media screen and (max-width: 768px) {
    background-size: 140%;
  }
}

.hot_drink_menu_text {
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat-Light';
  text-align: center;
  padding-top: 70px;
  font-size: 51pt;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  @media screen and (max-width: 1024px) {
    font-size: 27pt;
    padding-top: 85px;
  }
}

.hot_drink_menu_text:hover > .hot_menu_item {
  margin-left: -5px;
}

.hot_drink_menu_text:hover > .item_5 {
  margin-left: 5px;
}

.hot_drink_menu_text:hover > .hot_menu_item > p {
  opacity: 1;
}

.hot_menu_item {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  margin-left: -650px;
  transition: 1s;
  z-index: 1000;

  &:hover > .hot_main_img {
    opacity: 1;
    visibility: visible;
  }
}

.item_text {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 1s;
  font-family: 'Montserrat-ExtraLight';
  font-size: 41pt;
  padding-top: 15px;
  opacity: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  @media screen and (max-width: 1024px) {
    font-size: 25pt;
    padding-top: 29px;
  }
}

.hot_main_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 480px;
  background: red;
  margin-left: -4px;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  background-size: cover;
  background-position: 0 -220px;
}

.hot_drink_menu_box {
  &:hover ~ .drinks_text {
    visibility: hidden;
  }
}

.drinks_text {
  font-size: 55pt;
  position: absolute;
  z-index: 1;
  margin-top: 400px;
  font-family: 'Montserrat-ExtraLight';
  color: #633209;
  text-align: center;
  transition: 1s;
  visibility: visible;
  @media screen and (max-width: 1024px) {
    margin-top: 350px;
  }
}

.hot_clear {
  height: 1px;
}
// ITEM IMG
.top_item {
  margin-top: 75px;
  @media screen and (max-width: 1024px) {
    margin-top: 92px;
  }
}

.item_1 {
  margin-left: -1500px;
}

.item_2 {
  margin-left: 1500px;
}

.item_3 {
  margin-left: -1500px;
}

.item_4 {
  margin-left: 1500px;
}

.item_5 {
  margin-left: 650px;
}

.item_delay_2 {
  transition-delay: 0.2s;
}

.item_delay_3 {
  transition-delay: 0.4s;
}

.item_delay_4 {
  transition-delay: 0.6s;
}

.img_1, .img_2, .img_3, .img_4{
  margin-top: -100px;
  background-image: url("../img/wine_1.jpeg");
  margin-left: 3px;
}

.img_2 {
  margin-top: -200px;
  background-image: url("../img/wine_2.jpeg");
}

.img_3 {
  margin-top: -300px;
  background-image: url("../img/wine_3.jpeg");
}

.img_4 {
  margin-top: -400px;
  background-image: url("../img/wine_4.jpeg");
}

.main_img_first {
  margin-left: 2px;
  @media screen and (max-width: 1024px) {
    background-position: 0 0;
  }
}

.main_img_second {
  margin-left: -640px;
  @media screen and (max-width: 1440px) {
    width: 1440px;
    margin-left: -478px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    margin-left: -345px;
    background-position: 0 -100px;
  }
}

.main_img_third {
  margin-left: -1290px;
  @media screen and (max-width: 1440px) {
    width: 1440px;
    margin-left: -967px;
  }
}

.img_5,
.img_9 {
  margin-top: -100px;
  background-image: url("../img/Beer_4.jpeg");
  background-position: 0 -280px;
}

.img_10,
.img_6 {
  margin-top: -200px;
  background-image: url("../img/Beer_1.jpeg");
  background-position: 0 -300px;
}

.img_11,
.img_7 {
  margin-top: -300px;
  background-image: url("../img/Beer_2.jpeg");
  background-position: 0 0;
  @media screen and (max-width: 1024px) {
    background-position: 0 0;
  }
}

.img_12,
.img_8 {
  margin-top: -400px;
  background-image: url("../img/Beer_3.jpeg");
  background-position: 0 -400px;
}

.img_8 {
  @media screen and (max-width: 1440px) {
    background-position: 0 -200px;
  }
}

.img_9 {
  background-image: url("../img/hot_1.jpeg");
  @media screen and (max-width: 768px) {
    background-position: 300px -200px;
    background-size: 80%;
  }
}

.img_10 {
  background-image: url("../img/hot_2.jpeg");
  @media screen and (max-width: 768px) {
    background-position: 300px -80px;
    background-size: 70%;
  }
}

.img_11 {
  background-image: url("../img/hot_3.jpeg");
  background-position: 0 -170px;
  @media screen and (max-width: 768px) {
    background-position: 400px 0;
    background-size: 60%;
  }
}

.img_12 {
  background-image: url("../img/hot_4.jpeg");
  @media screen and (max-width: 1440px) {
    background-position: 0 -170px;
  }
  @media screen and (max-width: 1024px) {
    background-position: 0 -200px;
  }
}
// ITEM IMG
// MENU_425
.hot_menu_425 {
  display: none;
  @media screen and (max-width: 425px) {
    display: block;
  }
}

.hot_menu_425_box {
  position: absolute;
  width: 425px;
  height: 425px;
}

.hot_menu_box {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-family: 'Montserrat-ExtraLight';
  font-size: 21pt;
  color: white;
  background-size: cover;
  background-position: center;
}

.hot_menu_box > p {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 85px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.menu_425_first {
  background-image: url("../img/vine.jpeg");
  border-top: 5px solid red;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
}

.menu_425_second {
  background-image: url("../img/ginnes.jpeg");
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-top: 5px solid red;
}

.menu_425_third {
  background-image: url("../img/visky.jpeg");
  border-right: 2px solid red;
  border-top: 2px solid red;
}

.menu_425_fourth {
  background-image: url("../img/rom.jpeg");
  border-left: 2px solid red;
  border-top: 2px solid red;
}
