
.main_box {
  margin: auto;
  width: 1920px;
  @media screen and (max-width: 1440px) {
    width: 1440px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
  }
}

.wrap_header {
  // position: absolute;
  width: 1920px;
  height: 580px;
  background: url("../img/shadow.png");
  @media screen and (max-width: 1440px) {
    width: 1440px;
    height: 600px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    height: 500px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 400px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
    height: 350px;
  }
}

.header {
  width: 1920px;
  height: 580px;
  background-image: url("../img/food_first.jpeg");
  @media screen and (max-width: 1440px) {
    width: 1440px;
    height: 600px;
    background-size: cover;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    height: 500px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 400px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
    height: 350px;
  }
}

.header_nav {
  width: 860px;
  margin: auto;
  display: block;
  @media screen and (max-width: 768px) {
    width: 700px;
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}


.header_nav > li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 50px;
  font-family: 'Montserrat-Medium';
  height: 30px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: border-bottom 0.5s;
  @media screen and (max-width: 768px) {
    margin-left: 25px;
  }
}
.header_nav > li:first-child{
  margin-left: 0px;
}

.header_nav > li > a {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.header_nav > li:hover > a {
  opacity: 1;
}

.header_nav > li:hover {
  border-bottom: 3px solid white;
}

.header_nav_mobile {
  font-family: 'Montserrat-Medium';
  font-size: 19pt;
  width: 110px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  transition: 1s;
  display: none;
  color: white;
  opacity: 0;
  padding-top: 20px;
  margin: auto;
  @media screen and (max-width: 425px) {
    display: block;
    opacity: 0.7;
  }
}

.header_nav_mobile:hover {
  opacity: 1;
}

.header_nav_undermenu {
  width: 200px;
  height: 1px;
  overflow: hidden;
  border: 2px solid transparent;
  text-align: center;
  position: absolute;
  margin-left: -50px;
  margin-top: 0px;
  transition: 2s;
  z-index: 100;
}

.undermenu_link {
  opacity: 0.5;
  transition: 1s;
  border-bottom: 3px solid transparent;
  font-size: 10pt;
}

.undermenu_link:hover {
  border-bottom: 3px solid white;
  opacity: 1;
}

.header_nav_mobile:hover > .header_nav_undermenu {
  height: 250px;
}

.header_nav_mobile:hover + .header_logo {
  opacity: 0 !important;
}

.header_nav_mobile > ul > li {
  font-size: 15pt;
  margin-top: 30px;
}

.header_nav_mobile:hover {
  border: none;
}

.header_logo {
  width: 430px;
  display: block;
  margin: 190px auto 100px;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: logo;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  transition: 1s;
  transform: scale(1.1);
  @media screen and (max-width: 1440px) {
    margin-top: 210px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 150px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 110px;
  }
  @media screen and (max-width: 425px) {
    transform: scale(0.8);
    margin-top: 70px;
  }
}
@keyframes logo {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.header_button {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  margin-top: 70px;
  width: 150px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  @media screen and (max-width: 1024px) {
    margin-top: -40px !important;
  }
  @media screen and (max-width: 768px) {
    margin-top: -80px !important;
  }
}

.header_button:hover {
  box-shadow: 0 0 15px 1px white;
}
