.third_slider_line {
  width: 100%;
  height: 1px;
}

.third_slider_wrap {
  width: 100%;
  height: 900px; // margin-top: 280px;
  background-image: url("../img/footer.jpeg");
  background-size: cover;
  background-position: -765px 0;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    height: 700px !important;
  }
  @media screen and (max-width: 768px){
    height: 450px !important;
  }
  @media screen and (max-width: 425px){
    height: 250px !important;
  }
}

.third_slider_box {
  width: 100%;
  height: 455px !important;
  margin-top: 200px !important;
  // background: red;
  @media screen and (max-width: 1024px){
    height: 400px !important;
    margin-top: 150px !important;
  }
  @media screen and (max-width: 768px){
    height: 300px !important;
    margin-top: 100px !important;
  }
  @media screen and (max-width: 425px){
    height: 250px !important;
    margin-top: 50px !important;
  }
}

.third_slider_box_main {
  width: 100%;
  height: 500px;
  @media screen and (max-width: 768px){
    height: 300px !important;
  }
  @media screen and (max-width: 425px){
    height: 170px !important;
  }
}

.third_slider_box_img {
  width: 60% !important;
  height: 500px !important;
  background-image: url("../img/dedert-1.jpeg");
  background-position: center;
  background-size: cover;
  float: left;
  @media screen and (max-width: 1024px){
    height: 400px !important;
  }
  @media screen and (max-width: 768px){
    height: 250px !important;
  }
  @media screen and (max-width: 425px){
    height: 150px !important;
  }
}

.second_img{
  background-image: url("../img/coffee-1.jpeg") !important;
}
.third_img{
  background-image: url("../img/slide_2.jpeg") !important;
}
.fourth_img{
  background-image: url("../img/slide_1.jpeg") !important;
}
.fifth_img{
  background-image: url("../img/slide_3.jpeg") !important;
}

.third_slider_box_text {
  width: 40% !important;
  height: 500px !important;
  float: left;
  @media screen and (max-width: 425px){
    height: 150px !important;
  }
}

.third_slider_box_left {
  width: 70%;
  height: 100%;
  // background: rgba(4,4,4,0.5);
  padding: 50px;
  float: left;
  box-sizing: border-box;
  color: #6f4b2c !important;
  @media screen and (max-width: 1024px){
    padding: 10px;
    padding-top: 30px;
  }
}

.third_slider_box_arrow {
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  padding-top: 200px;
  padding-left: 11%;
  color: #6f4b2c;
  @media screen and (max-width: 1024px){
    padding-top: 160px !important;
  }
  @media screen and (max-width: 768px){
    padding-top: 80px !important;
  }
  @media screen and (max-width: 425px){
    padding-top: 40px !important;
  }
}

.third_slider_box_arrow > i {
  font-size: 55pt;
  margin-top: 10px;
  margin-left: -25px;
  @media screen and (max-width: 425px){
    display: none;
  }
}

.third_arrow_left,
.third_arrow_right {
  font-size: 60px;
  position: absolute !important;
  z-index: 10000000;
  // margin-top: 0px;
  width: 80px;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  @media screen and (max-width: 768px){
    top: 0px;
    height: 250px;
  }
  @media screen and (max-width: 425px){
    top: 0px;
    height: 150px;
  }
}

.third_arrow_right {
  top: 215px;
  right: 20%;
  width: 50px;
  height: 60px;
  opacity: 0;
  @media screen and (max-width: 1024px){
    box-sizing: border-box;
    right: 23%;
    top: 180px;
  }
  @media screen and (max-width: 768px){
    top: 0px;
  }
  @media screen and (max-width: 425px){
    right: 25%;
  }
}

.third_arrow_left {
  background: rgba(4,4,4,0.5);
  opacity: 0;
  transition: 0.7s;
}

.third_arrow_left:hover {
  opacity: 0.7;
}

ul.maindots {
  width: 300px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px auto auto;
  @media screen and (max-width: 1024px){
    margin: -40px auto auto;
  }
  @media screen and (max-width: 768px){
    margin: -20px auto auto;
  }
  @media screen and (max-width: 425px){
    margin: -15px auto auto;
  }
}

.maindots > li {
  display: inline-block;
}

.maindots > li > button {
  outline: none;
  border: none;
  font-size: 0;
  position: absolute;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}

.maindots > li > button:before {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #6f4b2c;
  position: absolute;
  z-index: 100;
  content: '';
  margin-left: -5px;
}

ul > li.slick-active:before {
  width: 15px;
  height: 15px;
  border: 2px solid #48301c;
  border-radius: 50px;
  margin-top: -5px;
  content: '';
  background-image: url("../img/footer.jpeg");
  position: absolute;
  z-index: 1000000;
}




.underslider_box_text{
	font-family: 'Montserrat-Medium';
	font-size: 21pt;
  @media screen and (max-width: 1440px){
    font-size: 15pt;
  }
  @media screen and (max-width: 1024px){
    font-size: 17pt;
  }
  @media screen and (max-width: 425px){
    font-size: 13pt;
  }
}

.underslider_box_text_second{
	font-family: 'Montserrat-Regular';
	line-height: 21px;
	font-size: 13pt;
  margin-top: 20px;
  @media screen and (max-width: 1440px){
    font-size: 8pt;
  }
  @media screen and (max-width: 1024px){
    font-size: 12pt;
  }
  @media screen and (max-width: 768px){
    font-size: 8pt;
  }
  @media screen and (max-width: 425px){
    display: none;
  }
}

.underslider_box_text_third{
	font-family: 'Montserrat-Regular';
	line-height: 21px;
	font-size: 9pt;
  margin-top: 20px;
  @media screen and (max-width: 1440px){
    font-size: 6pt;
  }
  @media screen and (max-width: 1024px){
    display: none;
  }
}

.underslider_box_text_fourth{
	color: #c10f1c;
	line-height: 40px;
	font-family: 'Montserrat-Light';
  margin-top: 10px;
  @media screen and (max-width: 1440px){
    font-size: 10pt;
  }
  @media screen and (max-width: 1024px){
    display: none;
  }
}



.text_white_top{
  color: red;
  @media screen and (max-width: 1024px){
display: none;
 }
}

.text_fourth{
  margin-top: 50px;
}

.text_fourth>a{
  color: red;
  font-family: 'Montserrat-Light';
  font-size: 12pt;
  @media screen and (max-width: 1440px){
    font-size: 10pt;
  }
}

.text_fifth{
  margin-top: 50px;
}

.text_white_top{
  display: block;
  color: #6f4b2c !important;
  // position: absolute;
  margin-left: 300px;
  margin-top: -29px;
  font-family: 'Montserrat-Light';
  @media screen and (max-width: 1440px){
    margin-left: 260px;
  }

}

.text_white_botton{
  display: block;
  position: absolute;
  color: #6f4b2c !important;
  margin-left: 190px;
  margin-top: -30px;
  font-family: 'Montserrat-Light';
  @media screen and (max-width: 1440px){
    font-size: 10pt;
    margin-left: 150px;
    margin-top: -25px;
  }
  @media screen and (max-width: 1024px){
    margin-left: 0px;
    margin-top: 0px;
  }
  @media screen and (max-width: 1024px){
    margin-top: 50px;
  }
  @media screen and (max-width: 768px){
    margin-top: 10px !important;
  }
  @media screen and (max-width: 425px){
    margin-top: 40px !important;
  }

}
    .text_white_botton>i{
      margin-right: 10px;
    }
