
.overslider_line {
  padding: 20px;
  box-sizing: border-box;
  max-width: 1920px;
  height: 70px;
  margin-top: 500px;
  animation-name: slider;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  border-top: 5px solid red;
  animation-fill-mode: forwards;
  // animation-delay: 2s;
  background-image: url(../img/footer.jpeg);
  background-position: 0 280px;
  // border-top: 5px solid red;
  @media screen and (max-width: 425px) {
    margin-top: 0px;
    animation-name: stop;
    border-top: none;
  }
  @media screen and (max-width: 375px) {
    width: 425px !important;
  }
}

@keyframes slider {
  0% {
    border-top: 5px solid red;
    margin-top: 0px;
  }
  70% {
    margin-top: 0px;
    border-top: 5px solid red;
  }
  100% {
    margin-top: 500px;
    // border-top: none;
  }
}

.overslider_line_text,
.over_second_slider_line_text {
  text-align: center;
  font-size: 21pt;
  color: #6e4a2b;
  font-family: 'Montserrat-Light';
  letter-spacing: 13px;
  line-height: 20px;
}


.slider_box {
  position: relative;
  width: 1920px;
  height: 1020px;
  border-top: 5px solid red;
  z-index: 100;
  margin-top: 0px !important;
  @media screen and (max-width: 1440px) {
    width: 1440px;
    height: 800px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    height: 600px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 450px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
    margin-top: -500px;
    height: 255px;
  }
}


div.slider_box_img, div.slider_box_img_second, div.slider_box_img_third {
  z-index: 5;
  position: relative;
  width: 1920px;
  height: 1020px;
  background-image: url(../img/food_one.jpeg);
  background-size: cover;
  @media screen and (max-width: 1440px) {
    width: 1440px;
    height: 800px;
  }
  @media screen and (max-width: 1024px) {
    width: 1440px;
    height: 600px;
  }

  @media screen and (max-width: 768px) {
    width: 768px;
    height: 500px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
    height: 250px;
  }

}

div.slider_box_img_second {
  background-image: url(../img/pizza.jpeg);
}

div.slider_box_img_third {
  background-image: url(../img/omar.jpeg);
}

.slider_box_line {
  width: 1920px;
  height: 190px;
  margin-top: 750px;
  @media screen and (max-width: 1440px) {
    width: 1440px;
    margin-top: 550px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    margin-top: 400px;
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 50px;
    margin-top: 250px;
  }
  @media screen and (max-width: 425px) {
    width: 425px;
    height: 60px;
    margin-top: 170px;
  }
}

.slider_box_line_first {
  width: 800px;
  height: 190px;
  background: rgba(4, 4, 4, 0.8);
  float: left;
  @media screen and (max-width: 1440px) {
    width: 600px;
    height: 100%;
  }
  @media screen and (max-width: 1024px) {
    width: 450px;
  }
  @media screen and (max-width: 768px) {
    width: 768px;
    height: 150px;
    margin-top: 50px;
  }
  @media screen and (max-width: 425px) {
    width: 768px;
    height: 60px;
    margin-top: 0px;
  }
}

.slider_box_line_second {
  float: left;
  width: 1120px;
  height: 190px;
  background: rgba(4, 4, 4, 0.97);
  @media screen and (max-width: 1440px) {
    width: 840px;
  }
  @media screen and (max-width: 1024px) {
    width: 574px;
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.slider_box_line_first_text {
  color: white;
  float: right;
  margin-right: 100px;
}

.top {
  margin-top: 60px;
  font-size: 28px;
  font-family: 'Montserrat-Bold';
  text-align: right;
  @media screen and (max-width: 1024px) {
    max-width: 250px;
    line-height: 30px;
    margin-top: 40px;
  }
  @media screen and (max-width: 768px) {
    line-height: 30px;
    max-width: 450px;
    margin-right: 150px;
  }

  @media screen and (max-width: 425px) {
    margin-top: 15px;
    margin-right: 420px;
    font-size: 15pt;
    text-align: center;
  }
}

.bottom {
  font-size: 14px;
  font-family: 'Montserrat-SemiBold';
  margin-top: 20px;
  margin-left: 500px;
  opacity: 0.5;
  @media screen and (max-width: 1440px) {
    width: 150px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 150px;
  }
}

.slider_box_line_second_text {
  color: white;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  line-height: 25px;
  margin-top: 58px;
  margin-left: 90px;
  max-width: 610px;
  opacity: 0.8;
  @media screen and (max-width: 1440px) {
    max-width: 410px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.slider_box_line_second_button {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  border: 2px solid white;
  background: transparent;
  padding: 18px 30px;
  margin-left: 730px;
  margin-top: -45px;
  border-radius: 2px;
  outline: none;
  transition: 1s;
  @media screen and (max-width: 1440px) {
    margin-left: 530px;
    margin-top: -70px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 145px;
    margin-top: 40px;
    border: none;
    font-size: 21pt;
  }
}

.slider_box_line_second_button:hover {
  box-shadow: 0px 0px 15px 1px white;
  cursor: pointer;
}

.slider_box_line_second_button:active {
  box-shadow: 0px 0px 25px 5px white;
}

.arrow_left, .arrow_right {
  position: absolute;
  margin-right: 50px;
  margin-left: 50px;
  z-index: 100;
  font-size: 50px;
  color: white;
  background: transparent;
  -webkit-background: transparent;
  border: none;
  outline: none;

}

.arrow_left {
  margin-top: 810px;
  background: transparent;
  border: none;
  outline: none;
  @media screen and (max-width: 1440px) {
    margin-top: 615px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 445px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 345px;
  }
  @media screen and (max-width: 425px) {
    margin-top: 180px;
    margin-left: 10px;
    font-size: 20pt;
  }
}

.arrow_right {
  margin-left: 1810px;
  margin-top: -210px;
  @media screen and (max-width: 1440px) {
    margin-left: 1350px;
    margin-top: -185px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 930px;
    margin-top: -155px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 680px;
    margin-top: -155px;
  }
  @media screen and (max-width: 425px) {
    margin-top: -70px;
    margin-left: 380px;
    font-size: 20pt;
  }
}

div.underslider_box_top {
  width: 945px;
  height: 431px;
  float: right;
  margin-top: 80px;
  margin-right: 50px;
}

div.underslider_box_top_img {
  position: relative;
  width: 945px;
  height: 431px;
}
